main {
    height: 100vh;
}

main article {
    background-color: rgba(0.1, 0.1, 0.1, 0.1);
}

main article > p {
    padding: 5vmin;
    font-size: 2vmin;
}

main article > ul {
    list-style-type: circle;
    padding: 3vmin;
    padding-left: 10vmin;
}

li {
    margin-top: 1vmin;
}

h2 {
    padding: 3vmin;
    font-size: 3vmin;
}

.list-text {
    font-size: 1.8vmin;
}