main {
    height: 65vh;
}

.center-file {
    display: block;
    margin: 0 auto;
    width: 90vmin;
}

video, iframe, section img {
    height: 50vmin;
}

article > h1 {
    text-align: center;
    padding: 2vmin;
    font-size: 3vmin;
}